<h1>Listing kolegijs</h1>

<table>
  <tr>
    <th>Ime</th>
    <th>Ocjena</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kolegijs.each do |kolegij| %>
  <tr>
    <td><%= kolegij.ime %></td>
    <td><%= kolegij.ocjena %></td>
    <td><%= link_to 'Show', kolegij %></td>
    <td><%= link_to 'Edit', edit_kolegij_path(kolegij) %></td>
    <td><%= link_to 'Destroy', kolegij, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kolegij', new_kolegij_path %>
